<h3>Post Form</h3>

<%= form_for @post do |f|%>
  <%= f.label :tilte %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit 'Update Post'%>
<% end %>
